<!doctype html>
<!--[if lt IE 7]> <html class="en no-js ie6 oldie ie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="en no-js ie7 oldie ie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="en no-js ie8 oldie ie" lang="en"> <![endif]-->
<!--[if gt IE 8]> <html class="en no-js newie ie" lang="en"> <![endif]-->
<!--[if !IE]><!--> <html class="en no-js" lang="en"> <!--<![endif]-->
<head>

<title>Spectre Fleet Doctrines</title>
	
<meta name="author" content="Spectre Fleet">
<meta name="viewport" content="width=device-width">
<script src="//cdn.optimizely.com/js/751370585.js"></script>
<meta name="description" content="Spectre Fleet Doctrines for the MMO EVE Online" />
<meta property="og:url" content="http://a-31.org/spectre/doctrines" />
<meta property="og:type" content="article" />
<meta property="og:site_name" content="Spectre Fleet" />

	<link rel="stylesheet" href="/ccp/css/styles-141118133021.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<script src="/ccp/js/libs/modernizr.custom.js"></script>
	<script src="/ccp/js/libs/amplify-1.1.0.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="/ccp/js/libs/jquery-1.8.min.js"><\/script>')</script>
    <link rel="icon" 
      type="image/png" 
      href="/ccp/img/misc/favicon.png">	
</head>

<body id="universe" itemscope itemtype="http://schema.org/Article">
 
	<header class="main-content noprint" id="mainheader-noresponsive">
        <div>
			<center>
                <a id="mainlogo" href="//a-31.org/spectre"><img src="/ccp/img/layout/logo.png" alt="Spectre Fleet" ></a>
			</center>
                
        </div>
	</header>
	
	<div class="main" id="main">
 <h1>Spectre Doctrines</h1>
  
  <div id="universe-frontpage" class="panel general-content">
    <header style="background-image: url(/ccp/img/misc/universe-header.jpg)">
      <h2><i>&quot;Thank God men cannot fly, and lay waste the sky as well as the earth.&quot;</i></h2>
    </header>

    <div class="content clearfix">
      <div id="opening" class="column">
        <p class="opening">Spectre Fleet knows many different types of doctrines. The majority of our doctrines are based on the basic doctrines, readily available from the mailing list &#39;Spectre Doctrine&#39;. Other doctrines are designed for specific goals and fights.</p>

<p>On this page you can find out more about our most popular doctrines.</p>
      </div>
<div id="worldofeve" class="column">
        <span class="bg"></span>
        <h2>The world of EVE</h2>

<ul>
<li>Travel to any of 5,000 star systems<br />
 linked by a stargate network</li>

<li>Explore the mysteries of<br />
 2,500 more systems through<br />
 shifting wormholes</li>

<li>Experience the unique vistas of each<br />
 region of EVE</li>

<li>Make a home in the core empires or the lawless fringes</li>
</ul>
      </div>

      <div id="spaceships-in-eve" class="clearfix clearme">       
          <div class="heading"><h2>Spaceships in EVE</h2>
          <span id="myrmidon"></span></div>
        <ul>
          <li>
            <h3>CHOOSE YOUR SHIP</h3>
            <p>Pick the ships you want to fly from hundreds of widely varying models.</p>
          </li>
          <li>
            <h3>CUSTOMIZE AND TUNE</h3>
            <p>Each ship is highly customizable using modular equipment, rigs and subsystems.</p>
          </li>
          <li>
            <h3>PERSONAL HANGARS</h3>
            <p>Acquire many different ships and store your collection in personal hangars across New Eden.</p>
          </li>
        </ul>
      </div>

     <div id="peoplepersonalities" class="column">
        <span class="bg"></span>
        <h2>People &amp; Personalities</h2>

<ul>
<li>Continuously develop your character with grind-free, time-based
training</li>

<li>Join corporations run by players, or found your own</li>

<li>Be part of something bigger with sovereign alliances</li>

<li>Forge a reputation that matters in EVE's single-server
environment</li>
</ul>
      </div>

      <div id="politicswarfare" class="column">
        <span class="bg"></span>
        <h2>Politics &amp; warfare</h2>

<ul>
<li>Dive into the politics of a player-driven universe</li>

<li>Join up with the empire militias in Factional Warfare</li>

<li>Help to build or destroy alliance domains in deep space</li>

<li>Fight the cybernetic terror and defeat Sansha's incursions</li>
</ul>
      </div>

      <div id="economyindustry" class="column">
        <span class="bg"></span>
        <h2>Economy &amp; industry</h2>

<ul>
<li>Speculate in a dynamic marketplace<br />
 driven by player activity</li>

<li>Manufacture thousands of items,<br />
 from ammunition to capital ships</li>

<li>Construct assembly arrays and<br />
 factory outposts</li>

<li>Influence the direction of EVE Online<br />
 through the Council of Stellar Management</li>
</ul>
      </div>

      <div id="sciencetechnology" class="column">
        <span class="bg"></span>
        <h2>Science &amp; technology</h2>

<ul>
<li>Research multiple levels of<br />
 advanced technology</li>

<li>Invent blueprints for spaceships<br />
 and equipment</li>

<li>Build laboratories and research outposts</li>

<li>Hack and reverse engineer ancient technologies<br />
 discovered in the depths of wormhole space</li>
</ul>
      </div>
  

  <!-- additional room -->

	</div>
		</div>
    </div>
	<footer class="main-content" id="footer">
		<div class="wrapper-landing clearfix">
			<div class="col-sm-12">
                <div class="row">
                    <div class="container">
			            <p><br />EVE Online and the EVE logo are the registered trademarks of CCP hf. All rights are reserved worldwide. All other trademarks are the property of their respective owners. EVE Online, the EVE logo, EVE and all associated logos and designs are the intellectual property of CCP hf. All artwork, screenshots, characters, vehicles, storylines, world facts or other recognizable features of the intellectual property relating to these trademarks are likewise the intellectual property of CCP hf. CCP hf. has granted permission to Spectre Fleet to use EVE Online and all associated logos and designs for promotional and information purposes on its website but does not endorse, and is not in any way affiliated with, Spectre Fleet. CCP is in no way responsible for the content on or functioning of this website, nor can it be liable for any damage arising from the use of this website.</p>
			        </div>
                </div>
            </div>
	</footer>
        
	<script src="/ccp/js/plugins-141118133021.min.js"></script>

	<script src="/ccp/js/scripts-141118133021.min.js"></script>
	
</body>
</html>

       

	
